h1 {

    color:navy;
    text-shadow: 4px 4px 4px white;
    font-size: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

h2 {

    color:navy;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-width: 30px;  
    text-align: center;
    font-family: 'Cabin', sans-serif;
    border-radius: 0px;
}

h3 {

    color:navy;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-width: 30px;  
    text-align: center;
    font-family: 'Cabin', sans-serif;
    border-radius: 0px;
}

.jumbotron {
    background-attachment: fixed;
    background-image: url(TMB.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    text-align: center;
    font-family: 'Cabin', sans-serif;
    font-size: large;

}

body {
    background-image:url(#);
    background-attachment: scroll;
    background-size: ccver;
    background-color: white;
    font-family: 'Cabin', sans-serif;
}

ul {
    display: inline-block;
    text-align: left;
    font-family: 'Cabin', sans-serif;
    font-size: large;
   
  }
  
.align-center {
    text-align: center;
  }

.packinglist {
    background-color: whitesmoke;
    padding: 20px;
}

.carousel {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: whitesmoke;
}
