h1, h2 {

    color:whitesmoke;
    text-shadow: 2px 2px 2px grey;
    font-size: 96px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 5px;
    border: 1px solid black;
    padding-left: 15px;
    text-decoration: underline;
    border-color:whitesmoke;
    border-style: double;
    border-width: 5px;  
    box-shadow: 2px 2px 2px white;
    text-align: center;
    font-family: Helvetica;
    border-radius: 35px;
}

#header2 {
    font-style: italic;
}

p {
    text-align: center;
    font-family: Helvetica;

}

img {

    height: 320px;
    /* width: 200px;  */
}

em {
    text-transform: uppercase;
    font-style: initial;
}

#first {
    text-align: left;
}

.right {
    text-align: right;
}

.tacos  {
    color: green;
}

body {
    background-image:url(lacblanc.jfif);
    background-attachment: fixed;
    background-size: cover;
}

.big {

    font-size: 32px;
}

p.tacos .big{

    font-size: 48px;
}